/*------------------------------------*\
  #PAGE SETTINGS
\*------------------------------------*/

* {box-sizing: border-box;}

body {
    background-color: #F4F3F5;
    font-family: 'Montserrat', sans-serif;
}

/*------------------------------------*\
  #HEADER
\*------------------------------------*/

header {
    width: 100vw;
    height: 5rem;
    background-color: #6200EA;
}